@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-50;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; /* Tailwind's font-light corresponds to font-weight: 300 */
}

@layer components {
  .btn-primary {
    @apply bg-gray-900 hover:bg-gray-800 text-white py-2 px-6 rounded-lg text-lg transition;
  }
}

@layer components {
  .btn-secondary {
    @apply bg-gray-400 hover:bg-gray-600 text-white py-2 px-6 rounded-lg text-lg transition;
  }
}

@layer components {
  .pill {
    @apply text-xs px-3 py-1 rounded-full bg-gray-200 text-gray-700 hover:bg-gray-200 transition;
  }
}
@layer components {
  .pill-lg {
    @apply text-xs px-3 py-1 rounded-full transition border;
  }

  .pill-active {
    @apply bg-purple-200 text-purple-900 shadow-md border-purple-300;
  }

  .pill-inactive {
    @apply bg-white text-gray-700 hover:bg-gray-100 border-gray-300;
  }
}


@layer components {
  .nav-link {
    @apply text-sm font-light text-white hover:text-gray-300 transition;
  }
}

@layer components {
  .highlight-1 {
    @apply bg-purple-200 text-purple-900 shadow-lg border-purple-200;
  }
}
@layer components {
  .highlight-2 {
    @apply bg-purple-800 text-white shadow-xl border-purple-800;
  }
}

@layer utilities {
  .prose p + p {
    margin-top: 1.25em; /* increase spacing between adjacent paragraphs */
  }

  .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    margin-bottom: 0.5em;
  }
}