# Node modules
node_modules

# Remix build and cache
/.cache
/build

# Environment variables
.env

# macOS system files
*.DS_Store

tmp/
storybook-static/
*storybook.log

coverage/

serviceAccountKey.json